.nav2-container{
  height: 5vw;
  position: absolute;
  top: 0;
}

.nav2-items{
  display: inline-block;
}
.nav2-logo{
  position: absolute;
  top: 2.29vw;
  left: 4.16vw;
  color: #FFFFFF;
}
.nav2-dp{
  position: absolute;
  background: #6F3285;
  text-transform: uppercase;
  align-items:center;
  border-radius: 50%;
  width: 4vw;
  height: 4vw;
  padding: 5px;
  border: 2px solid white;
  top:1.04vw;
  left:91.6vw;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 55px;
  color: #FFFFFF;
  display: inline-flex;

}

i{
  width:max-content;
  font-style: normal;
  margin: 0 auto;
}