.nav-container{
  height: 5vw;
  position: absolute;
  top: 0;
}

.nav-items{
  display: inline-block;
}
.logo{
  position: absolute;
  top: 2.29vw;
  left: 4.16vw;
}
.dp{
  position: absolute;
  background: #6F3285;
  text-transform: uppercase;
  align-items:center;
  border-radius: 50%;
  width: 4vw;
  height: 4vw;
  padding: 5px;
  /* vertical-align: middle;
  margin: 0 10px 0 0; */
  top:1.04vw;
  left:91.6vw;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 55px;
  color: #FFFFFF;
  display: inline-flex;

}

i{
  width:max-content;
  font-style: normal;
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
  .dp{
    left:84.62vw;
    top:2.56vw;
    height:7.69vw;
    width: 7.69vw;
    font-size: 3.85vw;
  }
  .logo{
    top:3.85vw;
  }
}